{% set active = 'team' %}

{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('teamsShow') }}
{% endblock %}

{% block body %}
    <div class="container" x-data="team(
            '{{ path("api_players_list") }}',
            '{{ path("api_team_add_player", {"id" : team.id}) }}',
            '{{ path("app_player_index") }}',
            '{{ team.countActivePlayers }}',
            '{{ team.id }}'
        )">
        <div class="row">
            <div class="col-sm-9">
                <h3>Team</h3>
            </div>
            <div class="col-sm-3">
                <a href="{{ path('app_team_index') }}" class="btn btn-sm btn-outline-dark float-end">
                    <i class="fa-solid fa-list"></i>
                    &nbsp;Back to team list
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <h6><strong>Name:</strong> {{ team.name }}</h6>
            </div>
            <div class="col-sm-4">
                <h6 class="text-center"><strong>Country:</strong> {{ team.country }}</h6>
            </div>
            <div class="col-sm-4">
                <h6 class="float-end"><strong>Active players:</strong>&nbsp;<span x-text="countActivePlayers">{{ team.countActivePlayers }}</span>
                </h6>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <h5>Players</h5>
            </div>
            <div class="col-sm-6" x-show="showList">
                <div class="btn-group float-end" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-dark" @click="addPlayer()">
                        <i class="fa fa-plus"></i>
                        &nbsp;New player
                    </button>
                    <a href="{{ path('app_player_index', {'teamId': team.id}) }}" type="button"
                       class="btn btn-outline-dark">
                        <i class="fa fa-shopping-cart"></i>
                        &nbsp;Buy/Hire Player
                    </a>
                </div>
            </div>
        </div>
        <hr>
        <div class="row" x-show="showList">
            <div class="col-sm-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Value</th>
                        <th scope="col">Active bids</th>
                        <th scope="col" class="text-right" style="width: 28%">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <template x-for="player in players">
                        <tr>
                            <td x-text="player.player.name"></td>
                            <td x-text="player.player.surname"></td>
                            <td x-text="player.sellingValue ?? player.amountValue"></td>
                            <td x-text="player.countActiveBid"></td>
                            <td class="text-right">
                                <div class="btn-group  float-end" role="group" aria-label="Basic outlined example">
                                    <a class="btn btn-sm btn-outline-primary"
                                       x-bind:href="playerUri + player.player.id">
                                        <i class="fa fa-eye"></i>
                                        &nbsp;Show
                                    </a>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"
                                            @click="editPlayer(player.id)">
                                        <i class="fa fa-pencil"></i>
                                        &nbsp;Edit
                                    </button>

                                    <button type="button" class="btn btn-sm btn-outline-success"
                                            @click="placeToMarket(player.id)">
                                        <i class="fa fa-bullhorn"></i>
                                        &nbsp;Sell
                                    </button>

                                    <button type="button" class="btn btn-sm btn-outline-danger"
                                            @click="firePlayer(player.id)">
                                        <i class="fas fa-user-alt-slash"></i>
                                        &nbsp;Fire
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </template>
                    <template x-if="players.length === 0">
                        <tr>
                            <td colspan="5">
                                <div class="alert alert-info text-center">
                                    There is no players in this team please add new :)
                                </div>
                            </td>
                        </tr>
                    </template>
                    </tbody>

                </table>
                <nav aria-label="Page navigation example" x-show="pages > 1">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" :class="{ 'disabled': actualPage === 1 }">
                            <a class="page-link" href="#" x-on:click.prevent="retrievePlayers(actualPage-1)"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <template x-for="pageNumber in pages" :key="pageNumber">
                            <li class="page-item" :class="{ 'active': actualPage === pageNumber }">
                                <a class="page-link" href="#" x-text="pageNumber"
                                   x-on:click.prevent="retrievePlayers(pageNumber)"></a>
                            </li>

                        </template>
                        <li class="page-item" :class="{ 'disabled': actualPage === pages }">
                            <a class="page-link" href="#" x-on:click.prevent="retrievePlayers(actualPage+1)"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row" x-show="showForm">
            <form @submit.prevent="submitForm()">
                <div class="mb-3">
                    <input type="text" placeholder="Name" class="form-control"
                           :class="formError.name !== '' ? 'is-invalid' : ''" x-model="formData.name">
                    <div class="invalid-feedback" x-text="formError.name"></div>
                </div>
                <span class=""></span>
                <div class="mb-3">
                    <input type="text" placeholder="Surname" class="form-control"
                           :class="formError.surname !== '' ? 'is-invalid' : ''" x-model="formData.surname">
                    <div class="invalid-feedback" x-text="formError.surname"></div>
                </div>
                <div class="mb-3">
                    <input type="number" placeholder="Value" class="form-control" x-model.number="formData.value">
                </div>
                <div class="mb-3">
                    <input type="date" placeholder="Excepted end data" class="form-control"
                           x-model="formData.expectedEndDate">
                </div>
                <div class="mb-3">
                    <div class="btn-group float-end" role="group">
                        <button class="btn btn-xs btn-outline-danger" @click.prevent="closeForm()">
                            <i class="fa fa-close"></i>
                            &nbsp;Cancel
                        </button>
                        <button type="submit" class="btn btn-outline-success">
                            <i class="fa fa-check"></i>
                            &nbsp;Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <button type="button" x-show="false" x-ref="showModal" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#myModal">
            Launch demo modal
        </button>
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Sell player: <span
                                    x-text="sellFormData.name"></span></h1>
                        <button type="button" x-ref="close-modal" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="sellValue" class="form-label">Value</label>
                            <input type="number" class="form-control"
                                   :class="sellFormErr.sellValue !== '' ? 'is-invalid' : ''"
                                   id="sellValue" x-model.number="sellFormData.sellValue">
                            <div class="invalid-feedback" x-text="sellFormErr.sellValue"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click="sellPlayer()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

